$information-phone: "only screen and (max-width : 767px)";
$information-monitor: "only screen and (min-width: 768px)";
$information-large: "only screen and (min-width: 1200px)";

.c-WoTelSatPage-container {
    padding-top: 16px;
}

.c-dictionary-audio {
    position: relative;
    bottom: 6px;
    left: 6px;
    cursor: pointer;
}

.tabList {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 16px;
}

.c-search-button-woltelsat {
    flex: 0.5 1 auto;
    font-family: 'Lato-Light';
    font-size: 18px;
    display: inline-block;
    background-color: #E6E6E6;
    height: 48px;
    margin-right: 8px;
    color: black;
    cursor: pointer;
    padding: 4px;

    @media #{$information-phone} {
        font-size: 16px;
    }
}

.tab {
    flex: 2 1 auto;
    font-family: 'Lato-Light';
    font-size: 18px;
    display: inline-block;
    background-color: #E6E6E6;
    height: 48px;
    margin-right: 8px;
    color: black;
    cursor: pointer;
    padding: 4px;
}

.tabText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media #{$information-phone} {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.tab-selected {
    color: white;
    background-color: #01B2A9;
}

.bar {
    width: 100%;
    background-color: #01B2A9;
    height: 8px;
}