@import './colors';
@import './mixins';

body {
  font-family: 'Lato';
  color: $blue-grey;
}
#atlwdg-container {
    width: calc(100vw - 40px);
    max-width: 810px;
}
@media (max-width: 480px) {
    #atlwdg-container {
        width: 100vw;
        }
}