$information-phone: "only screen and (max-width : 767px)";
$information-monitor: "only screen and (min-width: 768px)";
$information-large: "only screen and (min-width: 1200px)";

.c-dictionary-title {
  display: inline-block;
  font-family: 'Lato-Regular';
  font-size: 42px;
  margin-top: 16px;
  margin-bottom: 32px;
  line-height: 1;
}

.c-dictionary-icon {
  position: absolute;
  top: 20px;
  padding-left: 16px;
  cursor: pointer;
}

.c-dictionary-phonetic {
  font-family: 'Lato-Light';
  color: #C0B5B5;
  font-size: 24px;
  margin-bottom: 32px;
}

.c-dictionary-lexicalCategory:first-child {
  margin-top: 16px;
}

.c-dictionary-lexicalCategory {
  color: #7f7f7f;
  font-family: 'Lato-Regular';
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.c-dictionary-lexicalExample {
  color: #C0B5B5;
  font-family: 'Lato-Light';
}

.c-poweredByOUP-watermark {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-family: 'Foundry Sterling Bold';
  text-align: center;

  @media #{$information-phone} {
      display: none;
  }
  
  @media #{$information-monitor} {
      position: fixed;
      bottom: 0px;
      right: 16px;
   }
}