@import '../../stylesheets/app.scss';
@import '../../../../node_modules/loaders.css/src/animations/ball-pulse.scss';
@import '../../../../node_modules/loaders.css/src/animations/line-scale-pulse-out.scss';

.button {
  outline: none !important;
}

.socket {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 4px solid $blue-grey;
  position: relative;
  margin: 0 auto;

  .button {
    width: 90%;
    height: 90%;
    background: $danger;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.05, 0.58, 0.32, 1.35);
    -webkit-transition-timing-function: cubic-bezier(0.05, 0.58, 0.32, 1.35);
    cursor: pointer;
  }

  .button.active {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    top: 40px;
  }
}

.record-btn-text {
  font-family: 'Lato';
  color: $blue-grey;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

.line-scale-pulse-out {
  div {
    background-color: $primary;
    width: 14px;
    height: 140px;
    margin: 8px;
  }
}