@font-face {
  font-family: 'Lato-Regular';
  src: url('../../../../public/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url('../../../../public/fonts/Lato-Hairline.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../../../../public/fonts/Lato-Light.ttf') format('truetype');
}

$information-phone: "only screen and (max-width : 767px)";
$information-monitor: "only screen and (min-width: 768px)";
$information-large: "only screen and (min-width: 1200px)";

.c-searchPage {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.c-searchPage-background {
  background: url('../../../../public/images/hexagonal_cube_pattern.png') center center fixed;
  background-repeat: repeat;
  opacity: 0.20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media #{$information-phone} {
    background-size: 100%;
  }

  @media #{$information-monitor} {
    background-size: 50%;
  }
}

.c-searchPage-color {
  background-color: #01B2A9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.c-searchPage-poweredBy {
  font-family: 'Foundry Sterling Bold';
  position: absolute;
  color: white;
  text-align: center;

  @media #{$information-phone} {
    bottom: 25%;
    font-size: 16px;
  }

  @media #{$information-monitor} {
    bottom: 25%;
    font-size: 18px;
  }
}

.c-searchPage-header {
  text-align: center;
  font-family: 'Lato-Light';
  position: absolute;
  color: white;

  @media #{$information-phone} {
    top: 25%;
    font-size: 32px;
  }

  @media #{$information-monitor} {
    top: 25%;
    font-size: 48px;
  }
}

.ui.search {
  position: relative;
  width: 100%;
}

.ui.input {
  @media #{$information-phone} {
    width: 75%;
    left: 12.5%;
  }

  @media #{$information-monitor} {
    width: 50%;
    left: 25%;
  }
}

.ui.fluid.search .results {
  @media #{$information-phone} {
    width: 75%;
    left: 12.5%;
  }

  @media #{$information-monitor} {
    width: 50%;
    left: 25%;
  }
}