@import '../../stylesheets/app.scss';

.Test {
  width: 90%;
  max-width: 800px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.Test-loading {
  @include vertical-align();
  width: 90%;
  max-width: 500px;
  position: absolute;
}

.test-grid {
  margin: 0 !important;
}

.test-title {
  font-family: 'Lato-Regular';
  color: $blue-grey;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: $primary; 
}

.test-text {
  font-family: 'Lato-Light';
  color: $blue-grey;
  font-weight: 400;
  font-size: 20px;
}

.test-segment {
  padding: 30px 20px !important;
}

.test-content {
  font-family: 'Lato-Regular';
  color: $blue-grey;
}

@media screen and (min-width: 480px) {
  .test-title {
    font-size: 40px;
  }

  .test-segment {
    padding: 30px 100px !important;
  }
}