@import '../../stylesheets/app.scss';

.Report {
  width: 90%;
  max-width: 800px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.Report-loading {
  @include vertical-align();
  width: 90%;
  max-width: 500px;
  position: absolute;
}

.report-grid {
  margin: 0 !important;
}

.report-title {
  font-family: 'Lato';
  color: $blue-grey;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: $primary; 
}

.report-overall-title {
  font-family: 'Lato';
  color: $blue-grey;
  font-weight: 400;
  font-size: 20px;
}

.ladda-button {
  background-color: $primary !important; 
}

.ladda-button:hover {
  background-color: $primary !important;
}

.report-overall-title-row {
  padding-bottom: 0 !important;
}

.report-overall-score-row {
  padding-top: 0 !important
}

.report-overall-score {
  font-family: 'Lato';
  font-size: 30px;

  &.red {
    color: $danger;
  }

  &.orange {
    color: $warning;
  }

  &.green {
    color: $success;
  }
}

.report-text {
  font-family: 'Lato';
  color: $blue-grey;
  font-weight: 400;
  font-size: 20px;
}

.report-segment {
  padding: 30px 20px !important;
}

.report-content {
  font-family: 'Lato';
  color: $blue-grey;
}

.report-accordion-title {
  font-family: 'Lato' !important;
  color: $blue-grey !important;
  font-size: 20px !important;
}

.report-phoneme-segment {
  display: inline-block;
  margin: 15px !important;
}

.report-phoneme-popup {
  font-family: 'Lato';
  color: $blue-grey;
  font-weight: 400;
  font-size: 20px;
}

.report-phoneme-segment-title {
  font-family: 'Lato';
  color: $blue-grey;
  font-weight: 400;
  font-size: 20px;
}

.phoneme-score-group {
  display: inline-block;
}

.phoneme-score-label {
  display: block;
  font-size: 15px;
}

.report-label {
  margin: 5px !important;
}

.report-settings-btn.toggled {
  background-color: $primary !important;
  color: white;
  &:focus {
    color: white;
  }
}

.report-settings-segment {
  width: 100%;
  max-width: 800px;
}

.slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 0 auto;
  display: inline-block;
}

.phoneme-number-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 0 auto;
  display: inline-block;
  margin-top: 20px;
}

.slider-label {
  display: inline-block;
  position: relative;
  bottom: 30px;
  margin: 10px;
  font-size: 20px;
}

.bar {
  position: relative;
  top: 10px;
  height: 10px;
  background: $danger;
  &.bar-1 {
    background: $warning;
  }

  &.bar-2 {
    background: $success;
  }
}

.phoneme-number-bar {
  position: relative;
  top: 10px;
  height: 10px;
  background: $primary;
}



.handle {
  font-size: 20px !important;
  text-align: center;
  color: $blue-grey;
  cursor: pointer;
  top: 1px;
  width: 30px;
  height: 28px;
  line-height: 77px;
  font-size: 0.9em;
  border-radius: 100%;
  border: solid 2px $blue-grey;
  background-color: $blue-grey;

  // &.handle-0 {
  //   background-color: $warning;
  // }

  // &.handle-1 {
  //   background-color: $success;
  // }
}

.phoneme-number-handle {
  font-size: 12px !important;
  text-align: center;
  color: $blue-grey;
  cursor: pointer;
  top: 3px;
  width: 25px;
  height: 23px;
  line-height: 77px;
  font-size: 0.9em;
  border-radius: 100%;
  border: solid 2px $blue-grey;
  background-color: $blue-grey;
}

.number-score-slider-label {
  position: relative;
  display: inline-block;
  top: -55px;
}

.number-score-slider-label-percentage {
  display: inline-block;
  position: relative;
  top: -75px;
}

.spectrogram-title {
  text-align: center;
}

.spectrogram-container {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .report-title {
    font-size: 40px;
  }

  .report-segment {
    padding: 30px 100px !important;
  }
}